body {
  text-align: center;
  font-family: monaco, monospace;
  background: url(https://media.giphy.com/media/fsQZ0mfVrqRN0izgsa/source.gif) 50%;
  background-size: cover;
  margin: 40px;
}
h1, h2 {
  display: inline-block;
  background: #fd0;
  color: red;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
ul
p {
  display: inline-block;
  background: rgba(0,0,0,0.4);
  color: #DAF7A6;
  font-size: 18px;
  font-family: "Consolas", Courier, monospace;
}
a {
  color: #C1DDFF;
}

div.navheader {
  position: absolute;
  top: 10px;
  bottom: 50px;
}


.wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: [col1-start] 400px  [col2-start] auto [col3-end];
        grid-template-rows: [row1-start] 100px [row2-start] 400px [row3-start] 200px [row4-start] 290px [row4 end];

        color: #444;or: #013220;
    }

    .box {
        color: #fff;
        border-radius: 3px;
        padding: 20px;
        font-size: 150%;

    };

    .title {

        grid-column: col1-start / col2-start;
        grid-row: row1-start ;

    }
    .illustration {
        grid-column: col2-start ;
        grid-row: row1-start / row2-end;
        background: url(https://i.imgur.com/3ZxeGQ4.png);
        background-size: cover;


    }
    .concept {
        grid-column: col1-start;
        grid-row: row2-start ;
        background: url(https://i.imgur.com/czZncO7.png);
        background-size: cover;

    }
    .portrait {
        grid-column: col1-start ;
        grid-row: row3-start / row4-end ;
        background: url(https://i.imgur.com/WIKLo0s.png);
        background-size: cover;
        background-position: center;


    }


div.bottomlinks {
  position: relative;
  width: 100%;
  top: 200px;
  bottom: 10px;
  text-align: right;
  right: 20px;

}
