body {
  background: url(https://i.imgur.com/07S1egS.png) 100%;
  background-size: cover;
  font-family: monaco, monospace;
  height: 100%;
  margin: 160px;
  min-height:75%;
  padding: 10px;
}

h1, h2 {
  background: #fd0;
  color: red;
  display: inline-block;
  float: left;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  background: rgba(0,0,0,0.4);
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

x {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  margin-left: 0px;
}

ul {
  list-style-type: none;
 }

li{
  margin: 12px 0;
}

a:link {
  color: #afc3ff;
  left: _px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  text-shadow: #afc3ff 0px 0px 5px;
  top: _px;
}

a:visited {
  color: #ffbb7b;
  text-decoration: none;
  text-shadow: #ffbb7b 0px 0px 5px;
}

a:hover {
  color: #edeeff;
  font-size: 40px;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  text-shadow: #ffffff 0px 0px 40px;
}

a:active {
  font-weight: #edeeff;
  text-decoration: none;
}

star {
  font-size: 40px;
  position: absolute;
}

div.navheader {
  bottom: 50px;
  left: 20px;
  position: absolute;
  top: 10px;
}

div.container {
  position: relative;
  top: 50px;
  width: 100%;

}

div.blurb {
  bottom: 20px;
  margin: auto;
  position: relative;
  width: 100%;
}

div.bottomlinks {
  bottom: 10px;
  position: relative;
  right: 20px;
  text-align: right;
  top: 100px;
  width: 100%;
}
